*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #9b3535;
    color: #0c0c0c;
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 1.6;
    font-size: 1 vw;
}

main {
    min-height: 100vh;
    /*importante*/
    position: relative;
    /*importante*/
}

img {
    width: 50%;
    /* height: auto; */
}

ul {
    list-style-type: none;
}

.button-class {
    font-family: 'Press Start 2P', cursive;
    background-color: #dd4040;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgb(255, 0, 0);
    color: rgb(214, 224, 224);
    padding: 16px 32px;
    margin: 4px 2px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 18px;
    width: 250px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.button-class:hover {
    background-color: #296CDB;
    color: white;
}

.button-class:focus {
    background-color: #0F52C1;
    /* The outline parameter suppresses the border
    color / outline when focused */
    outline: 0;
}

.button-class:active {
    background-color: #0039A8;
}

.addPokemon {
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: 0;
    border-bottom: 1px solid #296CDB;
    font-family: inherit;
    width: 150px;
    height: 20px;
    font-size: 8px;
}

label {
    font-size: 10px;
}

#filter_pokemon {
    width: 20%;
    padding: 10px;
}

#pokemon-list {
    margin: 0;
    padding: 0;
}

#pokemon-list li {
    list-style: none;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #d3d31b;
    align-content: center;
}

.form-inline {
    align-content: center;
    list-style: none;
}

.navbar {
    align-content: center;
    border-radius: 20px;
}

form.form-inline {
    align-content: center;
    margin: 0 auto;
}

#subButton {
    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;
    /* usual styles */
    padding: 10px;
    border: none;
    background-color: #396BBA;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    font-family: inherit;
    display: inline;
    font-size: 9px;
}

#subButton:hover {
    background-color: #296CDB;
    color: #2c2c2a;
}

#subButton:focus {
    background-color: #0F52C1;
    /* The outline parameter suppresses the border
    color / outline when focused */
    outline: 0;
}

#subButton:active {
    background-color: #0039A8;
}

#modal-container {
    position: fixed;
    padding: 20px;
    /* box-sizing: border-box; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
}

@media only screen and (min-width: 500px) {
    .h1 {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        display: block;
        margin: 25px;
        margin: auto;
    }
}

.modal {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 80%;
    height: 80%;
    max-width: 700px;
    border-style: solid;
    border-color: #9b1f16;
    border-width: 50px;
}

.modal-close {
    margin-left: auto;
    display: block;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    text-transform: capitalize;
    margin: 0 auto;
}

.modal>p:nth-child(3) {
    margin-top: 20px;
}

#pokemonImage {
    flex-direction: column;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough */
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
    text-align: center;
    align-content: center;
}


/*.pokemon-content {
    background-color: red;
    width: 50%;
    align: center;
}*/